.header {
    &__burger {
        display: none;
    }
    &__top {
        background-color: #212121;
        font-weight: 400;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 42px;
            color: #fff;
        }
    }
    &__city {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 283px;
        font-size: 14px;
        flex-shrink: 0;
        & svg {
            margin-right: 14px;
        }
    }
    &__address {
        font-size: 12px;
    }
    &__phones {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 2px;
            height: 2px;
            background-color: #ff3131;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        & a {
            &:first-child {
                margin-right: 35px;
            }
            &:hover {
                opacity: 0.65;
            }
        }
    }
    &__whatsapp,
    &__instagram {
        display: flex;
        align-items: center;
        font-size: 12px;
        & span {
            opacity: 0.65;
            margin-left: 8px;
            transition: all .3s;
        }
        &:hover {
            & span {
                opacity: 1;
            }
        }
    }
    &__middle {
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 110px;
        }
    }
    &__logo {
        width: 283px;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        & img {
            width: 100%;
            position: absolute;
            top: -40px;
        }
    }
    &__hint {
        font-size: 12px;
        line-height: 16px;
    }
    &__search {
        position: relative;
        & input {
            width: 420px;
            height: 40px;
            border: 1px solid #c8c8c8;
            border-radius: 20px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            padding-left: 25px;
            padding-right: 35px;
            &:focus,
            &:active {
                border-color: #000;
            }
        }
        & button {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 15px;
        }
        &-close {
            display: none;
        }
    }
    &__cart {
        display: flex;
        align-items: center;
        &:hover {
            & button {
                background-color: #f82727;
            }
        }
        &-img {
            width: 31px;
            position: relative;
            margin-right: 20px;
            & svg {
                width: 100%;
                height: auto;
            }
        }
        &-notification {
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: #dd2525;
            border-radius: 50%;
            font-size: 8px;
            font-weight: 700;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -6px;
            right: -7px;
        }
        &-text {
            & strong {
                font-size: 14px;
                font-weight: 700;
                display: block;
            }
            & span {
                font-size: 12px;
                margin-top: 8px;
                display: block;
            }
        }
        & button {
            width: 26px;
            height: 26px;
            border-radius: 2px;
            margin-left: 30px;
        }
    }
    &__bottom {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        height: 59px;
        & .container {
            height: 100%;
        }
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }
    }
    &__open-menu {
        width: 282px;
        height: 100%;
        padding: 0 34px;
        position: relative;
        flex-shrink: 0;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            height: calc(100% + 2px);
            width: 100%;
            top: -1px;
            left: 0;
            border-top: 2px solid #dd2525;
            border-bottom: 2px solid #dd2525;
        }
        &:hover {
            &:after {
                border-color: #f82727;
            }
        }
        & span {
            padding-left: 20px;
            padding-right: 25px;
        }
        &-close {
            display: none;
        }
    }
    &__open-menu--active {
        pointer-events: none;
        background-color: #c01414;
        & span {
            font-weight: 500;
        }
        & .header__open-menu-close {
            display: block;
        }
        & .header__open-menu-open {
            display: none;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & span {
            font-size: 12px;
            font-weight: 400;
            color: #3e3e3e;
            margin-left: 13px;
            pointer-events: none;
        }
        & strong {
            font-size: 15px;
            font-weight: 600;
            color: #222222;
            margin-left: 20px;
            transition: all .3s;
            &:hover {
                color: #dd2525;
            }
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    & a.nav__item:hover {
        color: #dd2525;
    }
    &__item {
        font-size: 13px;
        font-weight: 500;
        color: #222222;
        position: relative;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &-hidden {
            display: none;
            position: absolute;
            padding-top: 24px;
            z-index: 3;
            &-inner {
                width: 228px;
                background-color: #ffffff;
                border: 1px solid #e9e9e9;
                box-shadow: 0px 1px 3px 0px rgba(20, 20, 20, 0.07);
                & a {
                    height: 38px;
                    background-color: #f7f7f7;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    font-size: 14px;
                    line-height: 18px;
                    color: #171717;
                    padding: 10px 25px;
                    &:hover {
                        background-color: #dd2525 !important;
                        color: #fff;
                    }
                    &:nth-child(even) {
                        background-color: #fff;
                    }
                }
            }
        }
        &-show {
            display: flex;
            align-items: center;
            transition: all .3s;
            &:hover {
                color: #dd2525;
                cursor: pointer;
                & path {
                    fill: #dd2525;
                }
            }
            & svg {
                margin-left: 10px;
                transition: all .3s;
            }
        }
        &-show--active {
            color: #dd2525;
            cursor: pointer;
            & path {
                fill: #dd2525;
            }
        }
    }
}

.header-menu {
    position: absolute;
    z-index: 3;
    margin-top: 4px;
    width: 100%;
    display: none;
    &__inner {
        // display: flex;
        height: 405px;
        // background-color: #ffffff;
        box-shadow: 0px 2px 27px 0px rgba(37, 37, 37, 0.25);
        border-radius: 2px;
        position: relative;
    }
    &__tab {
        width: 282px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dd2525;
        padding: 0px 18px 0px 24px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        transition: all .3s;
        height: 45px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 2px;
            background-color: #212121;
            top: -1px;
            left: 0;
            opacity: 0;
            transition: all .3s;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #d81e1e;
        }
        &:hover {
            background-color: #212121;
            cursor: pointer;
            // border-bottom: none;
            &:after {
                opacity: 1;
            }
        }
        &:first-child {
            border-radius: 2px 0px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 0px 2px;
        }
    }
    &__tab--active {
        background-color: #212121;
        pointer-events: none;
        border-bottom: none;
        &:after {
            opacity: 1;
        }
        &~.header-menu__content {
            display: block;
        }
    }
    &__right {
        flex-grow: 1;
    }
    &__content {
        padding: 20px 15px 20px 35px;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 282px);
        height: 100%;
        display: none;
        background-color: #fff;
        & .mCSB_draggerRail {
            width: 5px !important;
            background: #f2f2f2 !important;
            // border-radius: 6px !important;
        }
        & .mCSB_dragger_bar {
            background: #dd2525 !important;
            border-radius: 2px !important;
            width: 5px !important;
        }
        & .mCSB_dragger {
            // height: 211px !important;
        }
        & .mCSB_scrollTools {
            width: 5px !important;
        }
        & .mCSB_inside>.mCSB_container {
            margin-right: 18px;
        }
        &-top {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #dd2525;
            & svg {
                margin-left: 24px;
            }
            &:hover {
                color: #dd2525;
                opacity: 0.7;
            }
        }
        &-bottom {
            height: calc(100% - 20px);
            overflow-y: auto;
            &-inner {
                display: flex;
                justify-content: space-between;
            }
        }
        &-title {
            font-size: 15px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #1f1f1f;
            margin-top: 20px;
            display: block;
            &:hover {
                color: #dd2525;
            }
        }
        &-link {
            font-size: 14px;
            font-weight: 500;
            color: #3a3a3a;
            margin-top: 15px;
            display: block;
            &:hover {
                color: #dd2525;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &__logo {
            width: 220px;
        }
        &__city {
            width: 220px;
        }
        &__phones {
            font-size: 13px;
            & a {
                &:first-child {
                    margin-right: 15px;
                }
            }
        }
        &__address {
            font-size: 11px;
        }
        &__middle {
            &-inner {
                height: 65px;
            }
        }
        &__search {
            & input {
                width: 360px;
            }
        }
        &__open-menu {
            width: 230px;
            padding: 0 15px;
            & span {
                padding-left: 10px;
                padding-right: 15px;
            }
        }
        &__phone {
            &__span {
                font-size: 11px;
                margin-left: 7px;
            }
            & strong {
                margin-left: 10px;
                font-size: 13px;
            }
        }
    }
    .nav {
        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
    .header-menu {
        &__content {
            padding-left: 15px;
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__top {
            position: relative;
            z-index: 2;
        }
        &__address {
            display: none;
        }
        &__middle {
            &-inner {
                height: 70px;
                position: relative;
            }
        }
        &__hint {
            position: absolute;
            left: 0;
            bottom: -12px;
            & br {
                display: none;
            }
        }
        &__cart {
            &-text {
                display: none;
            }
            &-img {
                margin-right: 0;
            }
            & button {
                display: none;
            }
        }
        &__bottom {
            margin-top: 20px;
            &-inner {
                position: relative;
            }
        }
        &__burger {
            display: flex;
            width: 21px;
            height: 14px;
            position: relative;
            flex-shrink: 0;
            &:after,
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 2px;
                background: #2f2f2f;
                left: 0;
                transition: all .3s;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            & span {
                width: 100%;
                height: 2px;
                background: #2f2f2f;
                display: block;
                transition: all .3s;
            }
        }
        &__burger--active {
            &:before {
                transform: rotate(45deg);
                top: 6px;
                background-color: #dd2525;
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 6px;
                background-color: #dd2525;
            }
            & span {
                transform: scale(0.000001);
            }
        }
        &__open-menu {
            flex-grow: 1;
            margin-right: 25px;
        }
        &__phone {
            margin-left: 25px;
            & span {
                display: none;
            }
        }
    }
    .nav {
        display: none;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        // display: block;
        z-index: 4;
        background-color: #fff;
        border: 1px solid #e9e9e9;
        &__item {
            display: block;
            margin-right: 0 !important;
            &:not(:last-child) {
                border-bottom: 1px solid #e9e9e9;
            }
            &-show {
                padding: 20px 22px;
            }
            &-show--active {
                & svg {
                    transform: rotate(180deg);
                }
            }
            &-hidden {
                padding-top: 0;
                // display: block;
                position: static;
                & a {
                    padding: 10px 20px;
                }
                &-inner {
                    width: 100%;
                    border-right: none;
                    border-left: none;
                    border-bottom: none;
                }
            }
        }
        & a.nav__item {
            padding: 20px 22px;
        }
    }
    .nav--active {
        display: flex;
    }
    .header-menu {
        &__inner {
            height: unset;
        }
        &__item {
            width: 100%;
        }
        &__tab {
            width: 100%;
            & svg {
                // transition: all .3s;
                transform: rotate(90deg);
            }
        }
        &__tab--active {
            pointer-events: unset;
            & svg {
                transform: rotate(-90deg);
            }
        }
        &__content {
            width: 100%;
            position: static;
            // display: block;
            padding: 15px 24px;
            &-bottom {
                height: unset;
                overflow-y: unset;
                &-inner {
                    display: block;
                }
            }
            &-title {
                font-size: 14px;
                margin-top: 12px;
                & br {
                    display: none;
                }
            }
            &-top {
                font-size: 16px;
                border-bottom: 1px dashed #dd2525;
                padding-bottom: 15px;
            }
            &-link {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__top {
            &-inner {
                height: 32px;
            }
        }
        &__city {
            width: unset;
            justify-content: flex-start;
            font-size: 10px;
            & svg {
                width: 6px;
                height: 8px;
                margin-right: 7px;
            }
        }
        &__phones {
            font-size: 11px;
            &:after {
                display: none;
            }
            & a {
                &:first-child {
                    margin-right: 0;
                }
                &:last-child {
                    display: none;
                }
            }
        }
        &__whatsapp {
            font-size: 8px;
            & svg {
                width: 13px;
                height: 13px;
            }
            & span {
                margin-left: 5px;
            }
        }
        &__instagram {
            & span {
                display: none;
            }
            & svg {
                margin-right: 0;
                width: 14px;
                height: 14px;
            }
        }
        &__logo {
            width: 191px;
            & img {
                top: -44px;
            }
        }
        &__middle {
            &-inner {
                height: 52px;
                padding-top: 12px;
            }
        }
        &__search {
            margin-left: auto;
            margin-right: 14px;
            & button {
                position: relative;
                width: 34px;
                height: 34px;
                background-color: #ffffff;
                border: 1px solid #626262;
                transform: unset;
                border-radius: 50%;
                z-index: 2;
                right: 0;
                top: 0;
                & svg {
                    width: 12px;
                    height: 12px;
                }
            }
            & input {
                position: absolute;
                background-color: #ffffff;
                border: 1px solid #626262;
                border-radius: 17px;
                height: 34px;
                width: 245px;
                top: 0;
                right: 0;
                font-size: 11px;
                padding-left: 15px;
                padding-right: 63px;
                display: none;
            }
            & .header__search-close {
                display: block;
                position: absolute;
                padding: 0;
                border: none;
                top: 50%;
                right: 42px;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                display: none;
                & svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        &__cart {
            &-img {
                width: 26px;
                height: 25px;
                & svg {
                    // height: 25px;
                }
            }
            &-notification {
                width: 15px;
                height: 15px;
                font-size: 7px;
            }
        }
        &__hint {
            font-size: 10px;
            line-height: 100%;
            bottom: -20px;
        }
        &__bottom {
            margin-top: 33px;
            height: 48px;
        }
        &__phone {
            & strong {
                display: none;
            }
            & svg {
                width: 14px;
                height: 14px;
            }
        }
        &__open-menu {
            font-size: 13px;
            width: unset;
            &>svg {
                &:first-child {
                    width: 11px;
                    height: 15px;
                }
                &:last-child {
                    width: 6px;
                    height: 4px;
                }
            }
        }
    }
    .header-menu {
        &__tab {
            font-size: 13px;
        }
        &__content {
            &-top {
                & svg {
                    width: 11px;
                    height: 7px;
                    margin-left: 14px;
                }
            }
            &-title {
                font-size: 12px;
            }
        }
    }
    .nav {
        // display: block;
        top: 50px;
        &__item {
            &-show {
                padding: 17px 22px;
            }
            &-hidden {
                & a {
                    font-size: 13px;
                }
            }
        }
        & a.nav__item {
            padding: 17px 22px;
        }
    }
}